.THIS .approveButton{
   background-color: rgb(37, 116, 169);
   border-radius: 4px;
   display: inline-block;
   border: none;
   color: #fff; 
   font-size: 14px; 
   width: 145px;
   height: 33px;
   text-align: center; 
}

.THIS .approveButton:hover {
	background-color: rgb(19, 95, 144);
}

.THIS .rtsModal {
	background-color: rgb(211, 211, 211);
}

.THIS .legal {
	font-size:xx-small;
}

.THIS .approveModal {
	background-color: rgb(37, 116, 169);
    color: #fff;    
}

.THIS .rejectModal{
    background-color: rgb(191, 62, 57);
    color: #fff; 
}

.THIS .rejectButton{
   background-color: rgb(191, 62, 57);
   border-radius: 4px;
   display: inline-block;
   border: none;
   color: #fff; 
   font-size: 14px;
   width: 125px;
   height: 33px;
   text-align: center; 
}

.THIS .rejectButton:hover {
	background-color: rgb(188, 0, 10);
}

.THIS.toggle {
    display: none;
}